.about {
  display: flex;
  padding: 50;
}
.about img {
  margin-right: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(190, 190, 190);
  overflow: hidden;
  width: 500px;
  height: 300px;
}
.about p {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 20px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
